*.dbf
*.shp
*.shx
*.prj
*.proj
*.rds
*.rhistory
*.rdata
**/.Rproj.user

*.docx
*.doc
*.txt
*.csv
*.xls
*.xlsx
*.xlsm
*.xlsb
*.pptx
*.html
*.png
*.pdf

*.DAT
*.ID
*.ind
*.MAP
*.tab
*.qgz

*.lncfg
*.wxmod
*.wrop


*.qvf

*.ini
*.jpg
*.svg 

*.zip
*.tmp
*.mkv

